@media (min-width: 700px){
    nav{
    position: relative;
    width: auto;
    height: auto;
}
.nav-menu-button{
    display: none;
}
.nav-menu{
    position: static;
    flex-direction: row;
    justify-content: space-evenly;
    top:0;
    left:0;
    width: 100%;
}
}