:root{  
--borders: #353535ff;
--highlight: #3c6e71ff;
--white: #ffffffff;
--platinum: #d9d9d9ff;
--indigo-dye: #284b63ff;
--main-background-color : "ffffff";
--main-text-color : "#353535ff";
--highlight2 : rgb(206, 175, 0);
}
body{
font-family: "Roboto", sans-serif;
background-color: var(--main-background-color);
color:var(--main-text-color);
transition: .25s all;
/* height: 100%; */
}


header.main-header{
position: relative;
display: flex;
text-align: center;
height: auto;
/* justify-content: space-evenly; */
/* font-size: 20px; */
/* background-color: #284b63ff; */
flex-direction: column;
/* background-position-y:45%; */
/* background-image: url("../images/hero_image.webp"); */
/* background-size: 100%; */
/* color: white; */
/* padding: 8px; */
/* height:fit; */
align-items: center;
overflow: hidden;
/* object-fit:fill; */
/* margin-top: 0px; */
}
.hero picture{
/* position: absolute;
z-index: -1; */
width: 100%;
max-height: 600px;
}

.hero picture img{
width: 100%;
min-width: 400px;
}

.hero .overlay{
display: flex;
position: absolute;
/* justify-content:center; */
flex-direction: row;
/* flex: row; */
height: 100%;
align-items: center;
}

.hero{
position: relative;
display: flex;
text-align: center;
width: 100%;
flex-direction: column;
align-items: center;
overflow: hidden;
/* height: 300px; */
}

h1{
margin: 0;
/* height: 100%; */
}

.headbar {
/* display: grid; */
display: flex;
flex-flow: row;
column-gap: 16px;
/* grid-template-rows: 32px auto 32px; */
background-color: var(--indigo-dye);
color: white;
font-size: 14px;
justify-content: space-around;
/* text-align: center; */
align-items: center;
width: 100%;
padding: 16px;
}

.headbar img{
width: 100px; 
/* font-size: 8px; */
border-radius: 8px;
}

/* .dark-mode-toggle{
margin-top: auto;
} */

.nav-menu-button{
/* color:#353535ff; */
position: absolute;
right:8px;
}

.nav-menu{
position: fixed;
/* right: -400px; */
width: 150px;
/* top:0; */
right: -150px;
height: 100%;
color: white;
background-color: #353535ff;
grid-row:2;
display: flex;
/* visibility: hidden; */
flex-direction: column;
row-gap: 6px;
text-align: center;
font-size: 24px;
/* padding: 8px; */
transition: right .5s;
/* transition: width .5s, visibility 0s 1s; */
z-index: 1;
align-items: center;
}
.nav-menu.open{
right:0;
}
nav{
position: absolute;
font-size: 30px;
top:0;
right:0;
height: 32px;
width: 32px;
overflow: hidden;
}
nav a{
color:white;
text-decoration: none;
}
nav a:hover{
color:gray;
}


.card > header{
/* height: 100%; */
display: flex;
align-items: center;
/* border-radius: inherit; */
background-color: var(--indigo-dye);
color: white;
gap:8px;
/* text-align: center; */
/* box-sizing:border-box; */
/* width: 100%; */
align-content: center;
border-top-right-radius: 13px;
border-top-left-radius: 13px;
padding: 8px;
}

.card{
/* width: 80%; */
/* height:20%; */
display: grid;

margin: 16px;
border: 3px solid gray;
border-radius: 16px;
font-size: 16px;
}
.card section{
/* display: flex;
flex-direction: column;
align-content: left; */
padding: 8px;
}
.card section ul{
margin: 0;
padding-left: 16px;
}

.card section p{
    display: flex;
    justify-content: center;
    align-items:center;
    }

content{
display: grid;
text-align: left;
text-indent: 32px;
}
button.calltoaction{
background-color: white;
color: #353535ff;
/* background-color: var(--main-background-color);
color: var(--main-text-color); */
padding: 24px;
border-radius: 8px;
font-size: 20px;

}
button:active {
background-color: var(--platinum);
}

footer{
/* position:sticky; */
/* bottom: 0; */
background-color: var(--highlight);
color: white;
/* font-size: 16px; */
text-align: center;
align-content: center;
/* padding: 16px; */
width: 100%;
}
footer p{
margin-bottom: 0;
}


.spotlight-container{
display: grid;
margin: 16px;
font-size: 16px;
row-gap: 8px;
}

.spotlight-container header{
text-align: center;
}

.spotlight header{
text-align: left;
/* border-radius: 50%; */
font-size: 16px;
}
.spotlight .review{
padding: 8px;
border: gray solid 2px;
border-radius: 16px;
font-size: 14px;
}

.local-organizations{
margin:16px;
}

.dark-mode-toggle{
position: relative;
/* display: inline-block; */
width: 40px;
height: 20px;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--platinum);
/* -webkit-transition: .4s; */
transition: .4s;
border-radius: 34px;
}

.slider:before {
position: absolute;
content: "";
height: 80%;
width: 40%;
left: 10%;
bottom: 10%;
background-color: white;
/* -webkit-transition: .4s; */
transition: .4s;
border-radius: 34px;
}
.dark-mode-toggle input{
opacity: 0%;
}

.dark-mode-toggle input:checked + .slider {
background-color: var(--highlight2);
}

/* .dark-mode-toggle input:focus + .slider {
box-shadow: 0 0 1px var(--darkmode-toggle);
} */

.dark-mode-toggle input:checked + .slider:before {
transform: translateX(100%);
/* left:100%; */
}
.discover-main{
    /* width: 50%; */
    display: grid;
    /* background-color: var(--borders); */
    grid-template-columns: 1fr;
}
.sidebar{
    grid-column: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.sidebar .card{
    width: 80%;
    /* grid-column: 1; */
}

.local-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: auto;/d */
    /* grid-column: 2; */
    gap:128px;
}

.local-gallery img{
    border-radius: 16px;
    max-width: 100%;
}

input:invalid{
    border-color: red;
}
input{
    display: block;
    padding: 8px;   
    /* width: 30rem; */
}
label{
    display: block;
    margin: 16px 0 16px 0 ;
}

label[for="memberlevel"]{
    display: flex;
    gap:16px;
    margin: 0 0 8px 16px;

    /* width: 50%; */
}
label[for="organization-desc"] textarea{
    display: block;
    width: 300px;
}
/* label{
    margin-top:.5rem;
} */
form{
    margin: 16px;
    border: 2px solid var(--main-text-color);
    padding: 16px;
    /* display: flex; */
    /* justify-content: left; */
    /* width: 100%; */
}
fieldset{
    /* margin: 0; */
    width: 100%;
}


.memberlevel-selector{
    margin: 16px 0 16px 0;
}


.join-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.memberlevel-benefits{
    border: 2px solid var(--highlight2);
    /* border-radius: 16px; */
    padding: 16px;
    margin: 16px;
}

.memberlevel-benefits header{
    border-bottom: 2px solid var(--highlight2);
}

.directory-main{
    display: flex;
    flex-direction: column;
}

#display-switch{
    align-self: flex-end;
    width: max-content;
}

#member-cards-holder{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    column-gap:16px;
    width: 90%;
}

#member-cards-holder .card{
    width: 100%;
}

.hidden{
    display: none;
}

#members-table a{
    color: inherit;
}

#members-table td::before{
    content:attr(itemname);
}

#members-table tr:nth-child(even){
    background-color: var(--main-text-color);
    color:var(--main-background-color);
}
#members-table th{
    display: none;
}

#members-table td{
    display: flex;
    padding-top: 8px;
    padding-left: 8px;
}

#banner{
    width: 100%;
    text-align: center;
    background-color: var(--indigo-dye);
    color: white;
    /* color:white; */
    /* display: none; */
}

#banner-button{
    font-size: 21px;
}

#forcast{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 0; */
}
#forcast section:not(:last-child){
    border-right: 3px solid gray;
}