/* 
--jet: #353535ff;
--caribbean-current: #3c6e71ff;
--white: #ffffffff;
--platinum: #d9d9d9ff;
--indigo-dye: #284b63ff;
 */
 :root{  
    --jet: #353535ff;
    --caribbean-current: #3c6e71ff;
    --white: #ffffffff;
    --platinum: #d9d9d9ff;
    --indigo-dye: #284b63ff;
    }

body{
    display: grid;
    height: fit-content;
    width: 100%;
    grid-template: 20vh auto auto auto / 1fr;
    color: black;
    margin: 0;
    font-family: sans-serif;
}

.pfp{
    width: 100px;
    /* grid-row: 2; */
    /* align-self: center; */
}

.headbar {
    /* display: grid; */
    display: flex;
    flex-flow: row;
    column-gap: 32px;
    /* grid-template-rows: 32px auto 32px; */
    background-color: #284b63ff;
    color: white;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* width: 100vw;
    height:5vw; */
    grid-row: 1;
    padding: 16px;
    /* height:100px; */
    /* grid-column: 0/1; */
}

.nav-menu-button{
    position: absolute;
    right:8px;
}

/* .nav-menu-showbutton, .nav-menu-hidebutton{
    display: none;
} */
.nav-menu{
    position: fixed;
    /* right: -400px; */
    width: 150px;
    top:0;
    right: -150px;
    height: 100%;
    color: white;
    background-color: var(--jet);
    grid-row:2;
    display: flex;
    /* visibility: hidden; */
    flex-direction: column;
    row-gap: 6px;
    text-align: center;
    font-size: 24px;
    /* padding: 8px; */
    transition: right .5s;
    /* transition: width .5s, visibility 0s 1s; */
    z-index: 1;
}
.nav-menu.open{
    /* visibility: visible; */
    right:0;
    /* width: 150px; */
    /* transition: width .5s, visibility 0s 0s; */
    /* transition: width .5s; */
}
nav{
    position: absolute;
    font-size: 30px;
    top:0;
    right:0;
    height: 32px;
    width: 32px;
    overflow: hidden;
}
nav a{
    color:white;
    text-decoration: none;
}
nav a:hover{
    color:gray;
}
main{
    width:100%;
    background-color: white;
    grid-row: 3;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-size: 30px;

}
footer{
    background-color: #284b63ff;
    color: white;
    font-size: 30px;
    text-align: center;
    align-content: center;
    grid-row: 4;
    padding: 16px;
}

.card-header{
    height: 100%;
    /* display: block; */
    /* border-radius: inherit; */
    background-color: #284b63ff;
    color: white;
    text-align: center;
    /* box-sizing:border-box; */
    /* width: 100%; */
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.card{
    /* width: 80%; */
    /* height:20%; */
    display: grid;
    /* padding: 20px; */
    margin: 16px;
    border: 3px solid gray;
    border-radius: 16px;
    font-size: 16px;
}

content{
    display: grid;
    text-align: left;
    text-indent: 32px;
}
