@media (min-width: 700px){
    nav{
        /* width: 100%; */
        position: static;
    }
    section.card-container{
        display:flex;
        /* width: 80%; */
        margin: 0px;
        justify-content: space-around;
    }
    .card{
        width: 50%;
        font-size: 20px;
    }
    .card-header{
        height:fit-content;
    }
    footer{
        font-size: 16px;
    }
    li {
        height:50px;
    
    }
    nav{
        position: relative;
        width: auto;
        height: auto;
    }
    .nav-menu-button{
        display: none;
    }
    .nav-menu{
        position: static;
        flex-direction: row;
        justify-content: space-evenly;
        top:0;
        left:0;
        width: 100%;
    }
}